/* Fonts from Google Fonts - more at https://fonts.google.com */

/*BODY STYLE*/

body {
  font-family: 'Lancelot', cursive;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  background-color:#9a9be2;
}


/*HOMEPAGE IMAGES*/
header {
  background-image:url(images/background.jpg);
  padding: 30px;
  text-align: center;
  font-size: 50px;
  background-repeat:no-repeat;
  background-size:cover;
  color:#d8123b;
  text-shadow: -2px -2px 1px #000, 1px 1px 1px #000;
  font-family: 'Arsenal', sans-serif;
}

.homebox{
  display:flex;
  justify-content: space-between;

}
.skinbox{
  padding:10%;
  margin-right:20px;
  flex:5;
}


/*NAVIGATION SECTION*/
nav {
  background-color: #d3d0d0;
  padding: 0 0 0 0;
}

nav a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  letter-spacing: 2px;
}

nav ul {
  list-style-type: none;
  display:flex;
  justify-content: space-around;
  padding: 0px;
  font-family: 'Arsenal', sans-serif;
  font-size: 25px;
}



p{
  margin-top:2px;
  padding: 6px 100px;
  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
  text-align: justify;
}


/*Curology Section*/
img.cure{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:25px;
  border:1px solid black;
  padding:2px;
  background-color:#c12042;
}
h1.stitle{
  font-family: 'Arsenal', sans-serif;
  padding-top:20px;
  color:#d8123b;
  font-size: 40px;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
}
img.raw, img.hairimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:25px;
  border:1px solid black;
  padding:2px;
  background-color:#c12042;
}


/*BellaCurls Section*/
ul.hairnav{
  font-family: 'Arsenal', sans-serif;
  padding: 2px 150px 2px;
  line-height: 30px;
  list-style:circle;
  }

.leavein,.whipped{
  display:flex;
  font-family: 'Arsenal', sans-serif;
  font-size:20px;
  padding-top:20px;
  margin-left:2%;
 
}
.condtext, .cremetext{
  flex:1
}
  
h4.coco{
  padding-left:40%;
}
h4.whiptext{
  padding-left:40%
}
img.becreme, img.condi{
  border:1px solid black;
  padding:2px;
  background-color:#c12042;
}